:root{
    --card-margin-left: 12%;
    --card-margin-bottom: 2%;
    --product-price-padding: 5%;
    --card-width:  230px;
    --card-img-height: 20em;
  
}

#shopping-header .fa-bag-shopping{
    font-size: 30px;
    margin-left: 60%;
    position: absolute;
}

#shopping-header .fa-bag-shopping{
    margin-left: calc(var(--shopping-bag-margin-left) + 40%);
}

#shop-main-container{
    background-color: #FEFFFE;
    display: flex;
 flex-wrap: wrap;
    
}
.card{
    margin-left: var(--card-margin-left);
    margin-bottom: var(--card-margin-bottom);
    background-color:#F4F0EF ;
    width: var(--card-width);
    height: 400px;
    overflow: hidden;
    
}

.card img{
    height: var(--card-img-height);
}

.product-price{
    padding: var(--product-price-padding);
}

@media only screen and (min-width: 279px){
  
   .card{
    margin-left: calc(var(--card-margin-left) - 2%);
    margin-top: 5%;
   }

   #shopping-header #links-container{
    margin-left: 2%;
   }
}

@media only screen and (min-width: 319px){
  
    .card{
        margin-left: calc(var(--card-margin-left) + 2%);
       }
    
       #shopping-header #links-container{
        margin-left: 2%;
       }

       #shopping-header .fa-bag-shopping{
        margin-left: 65%;
        margin-top: 4%;
       }
   
}

@media only screen and (min-width: 374px){
  
    #shop-main-container .card{
     margin-left: calc(var(--card-margin-left) + 8%);
     margin-top: 5%;
    }
 
    #shopping-header #links-container{
     margin-left: 2%;
    }
 }

@media only screen and (min-width: 412px){
  
    #shop-main-container .card{
        margin-left: calc(var(--card-margin-left) + 8%);
       }
    
       #shopping-header #links-container{
        margin-left: 8%;
       }
   
}

@media only screen and (min-width: 425px) {
    
    .card{
        margin-left: calc(var(--card-margin-left) + 8%);
       }
    
       #shopping-header #links-container{
        margin-left: 8%;
       }

       #shopping-header .fa-bag-shopping{
        margin-left: 65%;
        margin-top: 2%;
       }
}

@media only screen and (min-width: 599px) {
   
    hr{
        margin-left: 22%;
    }

    #shop-main-container .card{
        margin-left: calc(var(--card-margin-left) + 20%);
       }
    
       #shopping-header #links-container{
        margin-left: 24%;
       }

       #shopping-header .fa-bag-shopping{
        margin-left: 20%;
        font-size: 40px;
       }

}

@media only screen and (min-width: 767px){
   
   #shop-main-container .card{
    margin-left: 2%;
    
   }

    
   #shop-main-container .card:nth-child(1),  #shop-main-container .card:nth-child(4),  #shop-main-container .card:nth-child(7),  #shop-main-container .card:nth-child(10){
    margin-left: 3%;
    
   }
}

@media only screen and (min-width: 991px){
   
    #shopping-header #links-container{
        margin-left: 30%;
    }

    #shop-main-container .card{
     margin-left: 10%;
     
    }
 
     
    #shop-main-container .card:nth-child(1),  #shop-main-container .card:nth-child(4),  #shop-main-container .card:nth-child(7),  #shop-main-container .card:nth-child(10){
     margin-left: 5%;
     
    }
 }
 

@media only screen and (min-width: 1023px){
     
    #shop-main-container .card:nth-child(1),  #shop-main-container .card:nth-child(4),  #shop-main-container .card:nth-child(7),  #shop-main-container .card:nth-child(10){
        margin-left: 6%;
        
       }
}

@media only screen and (min-width: 1199px){
#shopping-header #links-container{
    margin-left: 32%;
}



#shop-main-container .card{
 margin-left: 10%;
 
}

 
#shop-main-container .card:nth-child(1),  #shop-main-container .card:nth-child(4),  #shop-main-container .card:nth-child(7),  #shop-main-container .card:nth-child(10){
 margin-left: 12%;
 
}
}


@media only screen and (min-width: 1366px){
    #shopping-header #links-container{
        margin-left: 33%;
        margin-top: -1%;
    }
    
    
    
    #shop-main-container .card{
     margin-left: 4%;
    }
  
     
    #shop-main-container .card:nth-child(1),  #shop-main-container .card:nth-child(4),  #shop-main-container .card:nth-child(7),  #shop-main-container .card:nth-child(10){
     margin-left: unset;
     
    }
    #shop-main-container .card:nth-child(4),  #shop-main-container .card:nth-child(7),  #shop-main-container .card:nth-child(10){
        margin-left: 4%;
    }

    #shop-main-container .card:nth-child(1), #shop-main-container .card:nth-child(5),#shop-main-container .card:nth-child(9){
        margin-left: 10%;
    }

   

    }

@media only screen and (min-width: 1440px){
    #shopping-header #links-container{
        margin-left: 34%;
        margin-top: -1%;
    }
}

@media only screen and (min-width: 2559px){
    #shopping-header #shop-logo{
        width: 150px;
        height: 150px;
        margin-left: 45%;
    }

    #shopping-header .fa-bag-shopping{
        font-size: 80px;
    }

    #shopping-header #links-container a{
        font-size: 20px;
    }

    
    #shop-main-container .card:nth-child(1), #shop-main-container .card:nth-child(5),#shop-main-container .card:nth-child(9){
        margin-left: 4%;
    }

    #shop-main-container .card:nth-child(8){
        margin-left: 17%;
    }
}
